.map-items {
    position: relative;
}

#menu {
    background: #efefef;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0px;
}

#map {
    width: 100%;
    height: 300px;
}

#cluster-map {
    width: 100%;
    height: 500px;
}

#campground-search-button:hover {
    color: var(--bs-dark);
    background-color: var(--bs-secondary-bg);
}